---
title: "Bootstrap, Tooltip : Test"
description: "Test, Bootstrap, Tooltip"
---

<section>
	<header>
		<h1>Bootstrap, Tooltip</h1>
	</header>

	<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on left">Tooltip on right</button>
</section>
