---
title: "jQuery UI, Autocomplete : Test"
description: "Test, jQuery UI, Autocomplete"
---

<section>
	<header>
		<h1>jQuery UI, Autocomplete</h1>
	</header>

	<form class="form-inline">
		<div class="form-group ui-widget">
			<label for="tags">Tags</label>
			<input type="text" class="form-control" id="tags" placeholder="Keyword search">
		</div><!-- / .form-group -->
	</form>
</section>
