{{>head}}

	<header role="contentinfo">

	</header>

	<div class="container content-main" id="main" role="main" tabindex="-1">
		<div class="row">
			{{>body}}

		</div><!-- / .row -->
	</div><!-- / .container -->

	<footer role="contentinfo">

	</footer>

<!-- Scripts -->
<script data-main="asset/theme/{{theme_name}}/js/main" src="asset/vendor/require.js"></script>

</body>
</html>
