<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{{title}}</title>
	<meta name="description" content="{{description}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="apple-touch-icon" href="apple-touch-icon.png?v1" />
	<link rel="shortcut icon" href="favicon.ico?v1" />

	<!-- Stylesheets -->
	<link rel="stylesheet" href="asset/theme/{{theme_name}}/css/style.css" />

	<script src="//localhost:35729/livereload.js"></script>
</head>
<script>
	// add .wf-loading class to avoid FOUC
	// use JS to add class to avoid hidding content if JS isn't available
	document.documentElement.className += ' wf-loading';
</script>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<a href="#main" class="skiptocontent">Skip to Content</a>
