---
title: "grunt-bs-groundwrk"
description: "Example page, demo of Assembly build"
---

<article>
	<header>
		<h1>grunt-bs-groundwrk</h1>
	</header>
	<p>Opinionated kick starter for a static site, built on Grunt.js with Assemble, Bootstrap, and Require.js.</p>

	<h2>Tests</h2>
	<ul>
		<li><a href="test-autocomplete">jQuery UI, Autocomplete</li>
		<li><a href="test-tooltip">Bootstrap, Tooltip</li>
	</ul>

</article>
